<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Planner App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Guests</a></li>
                <li><a href="/food">Food</a></li>
                <li><a href="">Drink</a></li>
            </ul>
            <h1>Party Planner</h1>
            <ul>
                <% if (!currentUser) {%>
                    <li><a href="/auth/signup">Sign Up</a></li>
                    <li><a href="/auth/login">Log In</a></li>
                    <% }else { %> 
                        <li><a href="/auth/logout">Log Out</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <% } %>  
            </ul>
        </nav>
        <hr>
    </header>
    <%- include('partials/alerts.ejs') %> 
    <%- body %>
</body>
</html>