body {
    text-align: center;
    vertical-align: middle;
}
ul {
    list-style-type: none;
}

.default-list {
    list-style-type: disc;
}

nav{
    display: flex;
    justify-content: space-around;
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 15%;
}


#party-guests {
    grid-area: left-half;
}

#party-recipes {
    grid-area: right-half-top;
}

#party-drinks {
    grid-area: right-half-bottom;
}


.container {
    display: grid;
}

#party-plan {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "left-half right-half-top"
        "left-half right-half-bottom"
}


.meal-items {
    display: flex;
    justify-content: space-around;
}

.ingredients-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

#cocktail-ingredients {
    padding-left: 5px;
}

.guest-container {
    border: 1px solid black;
    width: 25%;
}

/* Dropdown code modified from https://www.w3schools.com/css/css_dropdowns.asp */

.dropdown {
    position: relative;
    display: inline;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: 10%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }