<h1>Meal Ideas</h1>

<h2>Your Favorites</h2>


<h3>Search for Recipes</h3>

<p>
    <%= faveRecipes[0].name %> 
</p>

<form method="GET" action="/food/results">
    <label for="foodKeyword">Search for Recipes:</label>
    <input type="text" name="keyword" id="foodKeyword">
    <input type="submit" value="Search">
</form>


