<h3>Search for Drinks</h3>

<form method="GET" action="/drink/results">
    <label for="drinkKeyword">Search for Drinks:</label>
    <input type="text" name="keyword" id="drinkKeyword">
    <input type="submit" value="Search">
</form>



