<form method="POST" action="/guests">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="likes">Likes:</label>
    <input type="text" name="likes" id="likes">
    <br>
    <label for="dislikes">Dislikes:</label>
    <input type="text" name="dislikes" id="dislikes">
    <br>
    <label for="allergies">Allergies/Sensitivities:</label>
    <input type="text" name="allergies" id="allergies" placeholder="e.g. 'gluten'">
    <br>
    <input type="submit" value="Create New Guest">
</form>